<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>png2svg</title>
</head>
<body>
    <form action="/api" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%=csrf%>">
        <input type="file" name="files" multiple accept="image/png">
        <input type="submit" value="submit">
    </form>
</body>
</html>